{
    "extends": [
        "emakinacee-base"
    ],

    "rules": {
        "import/no-nodejs-modules": 0,
        "import/no-namespace": 0,
        "class-methods-use-this": 0 // conflicts with yeoman generator syntax
    },

    "env": {
        "node": true,
        "mocha": true
    }
}
