{
    "extends": [
        "./packages/generator-emakinacee-react/generators/app/templates/dot/static/.eslintrc"
    ],

    "rules": {
        "import/no-nodejs-modules": 0
    },

    "globals": {
        "require": true
    }
}
