// GLOBAL FONT SCALING
// Used for rem calculations.
$global-font-scaling: 100%;

// FONT FAMILIES
$ff-brand: Arial;
$ff-headline: "Times New Roman", Georgia, Serif;

// FONT SIZES
$fz-small: 12px;
$fz-medium: 14px;
$fz-large: 16px;
