// GREYSCALE
// Map of different greyscale colors from black to white.
//
// @example color: map-get($color-greyscale, black);
$color-greyscale: (
    black: #000000,
    darkest: #232323,
    darker: #333333,
    dark: #444444,
    default: #454545,
    light: #767676,
    lighter: #cccccc,
    lightest: #f4f4f4,
    white: #ffffff,
);

// BRAND COLORS YELLOW
// Map of yellow brand colors.
//
// @example color: map-get($color-yellow, default);
$color-brand: (
    darkest: #d6a81e,
    darker: #ffb400,
    dark: #f0c600,
    default: #ffd300,
    light: #ffd300,
    lighter: #ffde00,
    lightest: #fff5b3,
);

// STATE COLORS
// Map of state representing colors like bootstraps success, warning, danger etc.
//
// @example color: map-get($color-state, success);
$color-state: (
    success: #3f930c,
    success-light: #9cc682,
    success-lighter: #e6efe1,

    info: #31708f,
    info-light: #42c6e1,
    info-lighter: #d9edf7,

    warning: #a0862e,
    warning-light: #ffd300,
    warning-lighter: #faf1c7,

    danger: #d7182a,
    danger-light: #ff0018,
    danger-lighter: #fae3e5,
);
