
// FLEX

.flex {
    display: flex !important;
}



// TEXT ALIGNMENT

.textLeft {
    text-align: left !important;
}

.textCenter {
    text-align: center !important;
}

.textRight {
    text-align: right !important;
}
