
// BREAKPOINTS
//
// These are breakpoints are used by sass-mq.
// https://github.com/sass-mq/sass-mq



$mq-breakpoints: (
    mobile:  320px,
    tablet:  640px,
    desktop: 960px,
    wide:    1400px
);
