
// BRAND COLORS

$color-brand: (
    "primary": lime,
    "secondary": purple
);



// GRAY COLOR SETTINGS

$color-grays: (
    "white": #ffffff,
    "100": #f8f9fa,
    "200": #e9ecef,
    "300": #dee2e6,
    "400": #ced4da,
    "500": #adb5bd,
    "600": #6c757d,
    "700": #495057,
    "800": #343a40,
    "900": #212529,
    "black": #000000
);



// STATE COLORS

$color-success: (
    "default": #9cc682,
    "strong": #3f930c,
    "muted": #e6efe1
);

$color-warning: (
    "default": #ffd300,
    "strong": #a0862e,
    "muted": #faf1c7
);

$color-danger: (
    "default": #ff0018,
    "strong": #d7182a,
    "muted": #fae3e5
);

$color-info: (
    "default": #42c6e1,
    "strong": #31708f,
    "muted": #d9edf7
);
