// GREYSCALE
// Map of different greyscale colors from black to white.
//
// @example color: map-get($color-greyscale, black);
$color-greyscale: (
    black: #000000,
    darkest: #232323,
    darker: #333333,
    dark: #444444,
    default: #454545,
    light: #767676,
    lighter: #cccccc,
    lightest: #f4f4f4,
    white: #ffffff,
);

// BRAND COLORS
// Map of brand colors.
//
// @example color: map-get($color-yellow, default);
$color-brand: (
    darkest: #d6a81e,
    darker: #ffb400,
    dark: #f0c600,
    default: #ffd300,
    light: #ffd300,
    lighter: #ffde00,
    lightest: #fff5b3,
);

// STATE COLORS
// Map of state representing colors.
//
// @example color: map-get($color-state, success);
$color-state: (
    success-dark: #3f930c,
    success: #9cc682,
    success-light: #e6efe1,

    info-dark: #31708f,
    info: #42c6e1,
    info-light: #d9edf7,

    warning-dark: #a0862e,
    warning: #ffd300,
    warning-light: #faf1c7,

    danger-dark: #d7182a,
    danger: #ff0018,
    danger-light: #fae3e5,
);
